<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SFLibrary.html</welcome-file>
  </welcome-file-list>

	<!-- Hibernate 相关 -->
	<filter>
		<filter-name>HibernateSessionFilter</filter-name>
		<filter-class>com.successfactors.library.server.hibernate.HibernateSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HibernateSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.successfactors.library.server.UserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/sflibrary/userService</url-pattern>
	</servlet-mapping>
	
</web-app>
