<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<context-param>
		<param-name>org.restlet.application</param-name>
		<param-value>com.successfactors.library.rest.app.RestPrivateApplication</param-value>
	</context-param>

	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/webservice/*</url-pattern>
	</servlet-mapping>

  <!-- Servlets -->
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.successfactors.library.server.UserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/sflibrary/userService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>bookServlet</servlet-name>
		<servlet-class>com.successfactors.library.server.BookServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookServlet</servlet-name>
		<url-pattern>/sflibrary/bookService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>borrowServlet</servlet-name>
		<servlet-class>com.successfactors.library.server.BorrowServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrowServlet</servlet-name>
		<url-pattern>/sflibrary/borrowService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>orderServlet</servlet-name>
		<servlet-class>com.successfactors.library.server.OrderServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderServlet</servlet-name>
		<url-pattern>/sflibrary/orderService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>recommendedBookServlet</servlet-name>
		<servlet-class>com.successfactors.library.server.RecommendedBookServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recommendedBookServlet</servlet-name>
		<url-pattern>/sflibrary/recommendedBookService</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SFLibrary.html</welcome-file>
  </welcome-file-list>

	<!-- Hibernate 相关 -->
	<filter>
		<filter-name>HibernateSessionFilter</filter-name>
		<filter-class>com.successfactors.library.server.hibernate.HibernateSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HibernateSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 定时任务监听器 -->
	<listener>  
		<listener-class>com.successfactors.library.server.DailyTaskListener</listener-class>  
	</listener>
	
	<!-- 文件上传Servlet -->
	<servlet>
	<servlet-name>PictureUploadServlet</servlet-name>
	<servlet-class>com.successfactors.library.server.PictureUploadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>PictureUploadServlet</servlet-name>
	<url-pattern>/pictureupload</url-pattern>
	</servlet-mapping>
	
</web-app>
